[2022-02-25 15:57] Ngoakor12 opened #1 "Store resources in a database"
Store links in a database. This is will mean less reliance on the original website.

The current `resources.js` file contains a lot of resources related function but they need to be put in separate files so that the github actions script can run the database update script.

- [x] #18
- [x] #19
- [x] #21

[2022-02-25 15:59] Ngoakor12 opened #2 "Create a GitHub actions workflow to update links in database on a frequent basis"

[2022-02-26 06:48] Ngoakor12 opened #3 "Bookmark groups - A way to organize bookmarks within bookmarks tab"

[2022-02-26 08:33] Ngoakor12 opened #4 "Add client side pagination to the home/resources page"

[2022-02-27 07:34] Ngoakor12 opened #5 "Active nav styles default to resources even when you reload in bookmarks"

[2022-02-27 07:59] #5 closed, assigned to nobody

[2022-03-16 18:13] #4 closed, assigned to nobody

[2022-04-05 19:11] timagixe opened #12 "There are undesired server requests to /all route"
Hi @Ngoakor12 !

STR:
1. open root page
2. open dev tools
3. go to network tab
4. observe extra requests to /all route

<img width="580" alt="Screen Shot 2022-04-05 at 10 06 08 PM" src="https://user-images.githubusercontent.com/60817786/161831414-12332bfb-6d24-4d3b-bd9c-4dba099f18a1.png">

[2022-04-05 21:28] Ngoakor12 commented on #12
Hey, thanks for finding this and letting me know. I wasn't aware and I don't think I would have found it. I'll definitely investigate further. Feel free to open a PR if you can.

[2022-04-05 21:55] #12 closed, assigned to nobody

[2022-04-05 22:18] Ngoakor12 opened #14 "Add a number indicating a count of resources on different components"
add a number indicating the number of resources at a point in time at various places on the site.

Tasks:
- [ ] add a count on the resources nav option
- [ ] add a count on the bookmarks nav option
- [ ] add a count on the load all resources button

[2022-04-05 22:25] Ngoakor12 opened #15 "Add a loading indicator/ spinner for "load 20 more resources" button"

[2022-04-06 21:17] #15 closed, assigned to nobody

[2022-04-06 22:02] #14 closed, assigned to nobody

[2022-04-08 21:17] Ngoakor12 opened #18 "Move functions related to scraping data from ACN to a `scrape-resources.js` file"

[2022-04-08 21:17] Ngoakor12 opened #19 "Move functions related to updating the resources database to a `update-resources-database.js` file"

[2022-04-08 21:17] Ngoakor12 opened #20 "Move the rest of the functions to a `resources-helpers.js` file"

[2022-04-08 21:17] Ngoakor12 opened #21 "Add functions to read from database to a `get-resources-from-db.js`"

[2022-04-09 07:53] #18 closed, assigned to nobody

[2022-04-09 07:53] #19 closed, assigned to nobody

[2022-04-09 07:53] #21 closed, assigned to nobody

[2022-04-16 06:27] #1 closed, assigned to nobody

[2022-04-16 06:37] Ngoakor12 opened #25 "Refactor the first api calls to use promise.all syntax"
There are two api calls that occur when you first visit https://coding-resource-finder.ngoako.dev/:
- all resources: https://coding-resource-finder-api.herokuapp.com/all
- first page of all resources: https://coding-resource-finder-api.herokuapp.com/all/1

Task
--
- [ ] refactor those api calls that occur on page load to use **`Promise.all`** syntax

[2022-04-16 06:45] Ngoakor12 opened #26 "Add github templates for bug reports, feature requests and pull requests"
Resource to help:
- https://www.youtube.com/watch?time_continue=26&v=UPsCXqxxJUA&feature=emb_title
- https://www.youtube.com/watch?v=18E6o-YiP4o

[2022-04-16 07:44] Ngoakor12 opened #27 "Feat: Add functional/unit tests"
Functions to test:

In `./backend/src/format-resources.js`
- [ ] getPages()
- [ ] getPageData()

In `./backend/src/utils.js`
- [ ] getCurrentCollectionName()

In `./backend/src/scrape-resources.js`
- [ ] getHTML()
- [ ] getTopicsFromACN()
- [ ] getProjectsFromACN()
- [ ] getAllResources()

[2022-04-16 08:02] Ngoakor12 opened #28 "Move svg icons to a separate folder"
Move to `./backend/src/svgs.js`

Icons to move;
- [x] **bookmark** and **remove bookmark** icons found in `./frontend/src/components/ResourceList.js`
- [x] **remove bookmark** icon found in `./frontend/src/components/BookmarkList.js`
- [ ] **clear search** icon found in `./frontend/src/components/SearchForm.js`

[2022-04-16 10:11] Ngoakor12 opened #29 "Add skeleton resource components on initial load instead of placeholder text("Loading Resources...")"
Replace text: "Loading Resources..." placeholder when fetching resources with resources skeleton components.

**Design**
Initial colours
![image](https://user-images.githubusercontent.com/54069197/163673581-611296c3-594b-45e4-befa-4098c85e38f4.png)

final colours(as it loads)
![image](https://user-images.githubusercontent.com/54069197/163673661-b64d5bc7-27d5-4c62-8760-1a13505a6b5a.png)

The colour

[2022-04-17 05:31] nitin094-hub commented on #29
Can I take up this Issue?

[2022-04-17 05:59] Ngoakor12 commented on #29
Sure @nitin094-hub, you can. Let me know if you get stuck or have any questions.

[2022-04-17 06:01] nitin094-hub commented on #29
Could you plz explain what is this initial color and final color?

[2022-04-17 06:16] Ngoakor12 commented on #29
The initial and final are just two different grey-ish colours that I want the background colour to fade into each other. Think of an infinite loop from one color to the next but smooth to the point where they blend into each other. Look at [this example](https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable)

[2022-04-17 06:45] nitin094-hub commented on #29
I have made a pull request. Plz check!

[2022-04-19 10:23] Ngoakor12 commented on #29
Hey @nitin094-hub are you still working on this?

[2022-04-19 11:18] nitin094-hub commented on #29
Ohh srry I forgot.. I am little busy. Can you assign this task to someone?

On Tue, 19 Apr, 2022, 3:54 pm Ngoako Ramokgopa, ***@***.***>
wrote:

[2022-04-19 11:27] Ngoakor12 commented on #29
No problem I'll take it off you. Thanks for trying.

[2022-04-20 18:28] #28 closed, assigned to nobody

[2022-04-21 11:00] #25 closed, assigned to nobody

[2022-04-22 09:31] Ngoakor12 opened #43 "Docs: Add a docs folder for documentation"
## Tasks
- [ ] create `screenshots.md` in `./docs` and add as many screenshots as possible
- [ ] create `codebase.md` in `./docs` and add a clear description of the codebase for newcomers

[2022-04-22 14:49] #2 closed, assigned to nobody

[2022-04-23 14:02] #29 closed, assigned to nobody

[2022-04-25 20:24] Ngoakor12 opened #57 "clear button on mobile screen search field is not centered"
The alignment of the clear search button is off centered/funky(see screenshot below). Fix it's positioning by centering it horizontal with the search field.

![image](https://user-images.githubusercontent.com/54069197/165168761-aee1cd94-621a-40fa-936c-0b8a75752f25.png)

[2022-04-25 20:35] Ngoakor12 opened #58 "Setup backend and frontend to use local url instead of prod url to reduce the number of api calls to prod url"

[2022-04-26 16:44] #58 closed, assigned to nobody

[2022-04-27 06:45] #57 closed, assigned to nobody

[2022-05-07 11:59] Ngoakor12 opened #62 "feat: add tabs for all, projects, and topics resources"
**Is your feature request related to a problem? Please describe.**
When I search for a resource I sometimes just want to browse topics and other times projects.

**Describe the solution you'd like**
Tabs in resource page, above or below the search input and filter shortcuts named: **all**, **topics**,  and **projects**

**Describe alternatives you've considered**
An alternative solution would be t

[2022-05-08 00:12] matthewbub commented on #62
I could take this :wave:

[2022-05-08 00:43] matthewbub commented on #62
whenever you have the opportunity, it might be worth committing a recent version of the `package-lock.json` files in both `/frontend` and the `/backend` directories as I seem to have some unintended modifications in these files 🙂

[2022-05-08 07:17] Ngoakor12 commented on #62
Will do

[2022-05-11 13:55] #62 closed, assigned to matthewbub

[2022-05-11 14:31] Ngoakor12 opened #64 "Refactor: api calls for resources should be fetched when needed"
**Here's what happens at the moment:**
1. On load/ first render
- first page of visited resources are fetched **and** all resources are fetched concurrently.
2. clicking "Load 20 more resources" button
- another api call for a page of requested resources is fetched.

**Heres what should happen instead:**
1. On load/ first render for each of  all, topics, and projects:
- first page should be fetche

[2022-05-11 14:41] Ngoakor12 opened #65 "Pages; `all`,`topics`, and `projects` are not fully responsive on mobile/smaller screen"
Here's what it looks like now:
![image](https://user-images.githubusercontent.com/54069197/167876516-f818e811-f0b2-47e9-950e-a9e42517e875.png)

Make sure it's responsive and doesn't spill text.

**NOTE:** keep the pages on one line even on mobile. Don't stack the pages.

[2022-05-12 04:58] Ngoakor12 opened #66 "Refactor: Migrate away from firebase firestore."
Current reasons to move away from firestore:
- cannot update db via github actions
- cannot impose a limit and turn off db when a certain budget is reached. Unlimited writes means you will owe unlimited money.
- not free

Where to?
- Mongodb
- SanityCMS
- Railway's PosgresSQL

[2022-05-13 22:05] Ryan-Maddock-96 commented on #65
Hi, could I take a look at this please :)

[2022-05-14 05:18] #65 closed, assigned to nobody

[2022-05-15 14:28] senali-d commented on #64
Can I help to fix the issue?

[2022-05-15 18:25] Ngoakor12 commented on #64
Yes you can, that would be appreciated. I'll assign it to you now now. Please do let me know if you need me to clarify anything.

[2022-05-17 13:58] senali-d commented on #64
Hey [@Ngoakor12](https://github.com/Ngoakor12), I need clarification of this issue.
 1. all data fetch 1st time render
 2. remove "Load 20 more resources" button
 3. What about the "Load all resources button"?

 Is this is what you expect. If not provide clear explanation about the issue.

[2022-05-17 16:56] Ngoakor12 commented on #64
1. Yes, I can explain the flow better if needed.
2. Yes.
3. Leave it. Pressing the "Load all resources" button just replaces the `renderedResources` with all of the resources in a specific page.

[2022-06-20 12:42] #64 closed, assigned to nobody

[2022-06-20 16:17] Ngoakor12 opened #73 "Bug: Direct access via this url `BASE_URL/resources/projects` renders all resources instead of just projects"
**Describe the bug**
Direct access via this url `BASE_URL/resources/projects` renders all resources instead of just projects
**To Reproduce**
Steps to reproduce the behavior:
1. Type: `BASE_URL/resources/projects` in the address/search bar
2. Observe the resources rendered, they're are mixed with topics

**Expected behavior**
When you visit the url: `BASE_URL/resources/projects`, the resources ren

[2022-06-20 16:25] Ngoakor12 opened #74 "Bug: Dev url is displayed instead of prod url on the root endpoint"
**Describe the bug**
Dev url is displayed instead of prod url on the root endpoint

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://coding-resource-finder-api.herokuapp.com/
2. Look at the available endpoints

**Expected behavior**
The root endpoint is not supposed to show any localhost base url for the endpoints. The base url should be https://coding-resource-finder-api.herokua

[2022-06-21 01:28] dcalhoun286 commented on #73
Hi there! I visited your deployed base url, and it looks like you might mean `/all/projects` instead of `/resources/projects`. I tried both; was able to get JSON data to display with the 1st option, but got a `cannot GET` response for the 2nd.

Anywho, when using the url with the 1st option, it appears I am only getting JSON data back for resources that have the "type" property set to "project". W

[2022-06-21 03:32] Ngoakor12 commented on #73
Hey thanks for having a look, it's always great to get new eyes on this project.

I pasted the wrong base_url, that's the backend url, while I meant to post the frontend one instead, I'll change it now now. Good catch.

Both routes you mentioned are all valid and are supposed to both work.
`base_url/resources/projects` is the route set with react router dom for the client. It should fetch it's res

[2022-06-23 18:16] Ngoakor12 opened #75 "Navigating to different pages via clicking links does not change the page's title"
**Describe the bug**
Navigating to different pages via clicking links does not change the page's title, while navigating to a page by typing the specific url in the address bar works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://coding-resource-finder.ngoako.dev/resources/all
2. Click on either "topics" or "projects" navigation buttons/links
3. Observe the title of the page:

[2022-06-24 18:12] #75 closed, assigned to nobody

[2022-06-25 06:07] Ngoakor12 opened #78 "Refactor: Replace JSDOM with Cheerio for web scraping"
[JSDOM](https://github.com/jsdom/jsdom) is a whopping 2.4m (gzipped: 588.6 k) in size. It's only used for web scraping in this project, so it's a bit of an overkill and not worth it imo. [Cheerio](https://github.com/cheeriojs/cheerio) seems like the best lightweight alternative with the only drawback being the syntax from what I've seen so far.

Task:
- [ ] Replace jsdom with cheerio web scraping

[2022-06-26 07:57] #26 closed, assigned to nobody

[2022-06-26 09:02] Ngoakor12 opened #82 "Docs: Add api routes documentation"
Have a look at the routes in `./backend` folder. Edit the `readme.md` file with some info about the routes exposed by the server.

Add a table with the following column headings; `method`, `endpoint`, `params`, `description`, `return type`. You can play around with the order of the columns, not sure at the moment.

[2022-06-26 16:40] ArunimaShukla03 commented on #82
hey, I would like to contribute to this.

[2022-06-26 16:44] Ngoakor12 commented on #82
Sure @ArunimaShukla03 , I'll assign it to you now now. Let me know if you have any questions.

[2022-06-26 17:27] ArunimaShukla03 commented on #82
what exact information do you want me to add?

[2022-06-27 22:24] Ngoakor12 commented on #82
Just a small explanation of each endpoint preferably in a table format.

[2022-07-02 04:58] Ngoakor12 opened #85 "Bug: Pull request template not showing up"
Whenever a PR is made, a pull request template should prefill the title and description fields, but it does not show up. Poke around and see if you can find the problem with the template and a fix for it.

[2022-07-13 19:50] abdulahad-07 commented on #82
@Ngoakor12 I wish to contribute to this. My suggestion would be to use [swagger](https://swagger.io/) for this.

[2022-07-14 02:06] Ngoakor12 commented on #82
@abdulahad-07 thanks for showing interest. I'm not too farmiliar with swagger, but I'm not opposed to it as long as:
- [ ] the bundle size is not crazy big
- [ ] it can be intergrated easily and not be a pain to maintain.
- [ ] we can still document the API on GitHub too for people who want to know about the API quick and easy(see first comment)

If so you're more than welcome to open a PR and it

[2022-07-14 15:23] abdulahad-07 commented on #82
We can do both. I would like to proceed with the swagger first.

- [ ] The bundle size won't increase much
- [ ] It is easy to integrate and maintain
- [ ] We can do this after swagger

[2022-07-14 15:28] Ngoakor12 commented on #82
Go ahead :)

[2022-07-16 06:48] Ngoakor12 opened #87 "Refactor: Improve error handling"
What to do:
- throw errors when you can handle them
- use try catch for code that's likely to fail sometimes
- try and catch errors on the upper layer where you'll more likely know what to do with them

What to not do:
- chucking multiple lines of code in try catch statements
- re-throwing all caught errors everytime

[2022-07-18 15:57] Ngoakor12 opened #91 "Deploy swagger api documentation"
Tasks:
- [ ] Learn about how to build and deploy swagger api documentation
- [ ] Decide on a free way to host the interactive swagger api documentation(e.g. github pages)
- [ ] Update the current swagger documentation to add the new hosted api docs url

[2022-07-28 17:32] Ngoakor12 commented on #82
Thanks for the contribution @abdulahad-07

[2022-07-28 17:32] #82 closed, assigned to abdulahad-07

[2022-08-06 06:00] Dun-sin commented on #85
Can I work on this?

[2022-08-06 08:00] Ngoakor12 commented on #85
@Dun-sin yes of course

[2022-08-06 09:23] #74 closed, assigned to nobody

[2022-08-06 17:45] #85 closed, assigned to Dun-sin

[2022-08-20 05:16] Ngoakor12 opened #97 "Remove resource type pages"
This specific component is buggy and doesn't fit the site, I'm removing this and opting for a filtering system like the on for topics below the search bar.
Tasks:
- On the UI, remove this part:
![image](https://user-images.githubusercontent.com/54069197/185729998-fd3f34ab-9a64-43ac-bd70-d18556a1b708.png)
- In `App.js`, remove the related routes
- reset  the resources route to just be `/resources`

[2022-08-26 06:07] Ngoakor12 opened #98 "Move server hosting from Heroku to another platform"
**[Heroku is getting rid of the free plan](https://blog.heroku.com/next-chapter)**, so an alternative is needed **before 28 Nov 2022**. It preferably needs to have a generous free tier of cheap.

- I've heard so much about **Railway**, so that should be the first place to look I guess
- **Vercel**

[2022-08-26 22:41] andrewkykoo commented on #97
@Ngoakor12 Hello! Can I work on this issue?

[2022-08-27 06:29] Ngoakor12 commented on #97
@andrewkykoo sure thanks, let me know if you need me to clarify anything:)

[2022-09-03 11:13] Ngoakor12 commented on #98
vercel worked :)

[2022-09-03 15:03] #97 closed, assigned to nobody

[2022-09-08 15:11] Ngoakor12 commented on #98
Vercel is serveless and required me to change my whole backend structure. So I decided to revert it and use something that hosts the default express app as is without messing with the structure too much.

This [video](https://www.youtube.com/watch?v=MusIvEKjqsc) goes over good alternatives.

[2022-09-08 15:18] Ngoakor12 commented on #98
New tasks:
- [x] revert vercel hosting
- [x] move hosting to one of the platforms in [this video](https://www.youtube.com/watch?v=MusIvEKjqsc)

[2022-09-18 16:32] Ngoakor12 commented on #98
#TeamRailway

[2022-09-18 16:32] #98 closed, assigned to nobody

[2022-09-24 06:58] Ngoakor12 commented on #73
no longer needed as I got rid of resource type pages/tabs

[2022-09-24 06:58] #73 closed, assigned to nobody

[2022-09-25 12:04] Ngoakor12 opened #108 "Move the `Resources` and `Bookmarks` components into the pages folder"
Tasks:
- create a `pages` folder in the `./src` folder
- move the `Resources` and `Bookmarks` components into the pages folder, making sure that everything is still working

[2022-09-25 12:57] Ngoakor12 opened #109 "Make the search bar always visible and stick to the top like the nav bar"
The current current nav bar behavior is exactly what must be emulated/copied.It utilizes the css `sticky` position property. So what must happen is that we should be able to scroll until the search bar reaches the top from which it must then stick there like the nav bar.

[2022-09-25 15:14] saifurrahmantanvir commented on #109
Hello,

I would love to fix this issue and contribute to this project.

[2022-09-25 15:28] Vinitvh commented on #108
Hi, can I work on this?

[2022-09-25 16:06] Ngoakor12 commented on #108
@Vinitvh Yes, yes you can

[2022-09-25 16:07] Ngoakor12 commented on #109
No problem, knock yourself out. Let me know if you need clarity on anything

[2022-09-25 16:46] saifurrahmantanvir commented on #109
![code-resource-tab](https://user-images.githubusercontent.com/77789469/192154545-539213e6-caaf-45aa-b269-fa6c7170dd68.png)
![code-resource-desktop](https://user-images.githubusercontent.com/77789469/192154548-034d49d5-259a-4b6c-9dba-99d6ee2f56ec.png)

I made the search bar sticky and moved it to the top on mobile and tablets. I think it looks better this way(personal preference). again if your wa

[2022-09-25 17:00] Ngoakor12 commented on #109
The positioning of the search bar is fine, I've been meaning to change it anyway, you're good.

Can you fix the undefined bug with the resource count aswell? It should be `Resources (0)` when there are no resources

[2022-09-26 15:42] #108 closed, assigned to Vinitvh

[2022-09-26 15:46] #109 closed, assigned to saifurrahmantanvir

[2022-10-01 11:24] Ngoakor12 opened #113 "Feat: Add resources from your own/external sites"
**Is your feature request related to a problem? Please describe.**
No, but sometimes you want to work with resources from other places on the internet but in the coding resources finder ecosystem

**Describe the solution you'd like**
Have the ability to add external resources and manage them on the site

**Describe alternatives you've considered**
Use other sites for and their resources but it's n

[2022-10-01 11:39] Ngoakor12 opened #114 "Add a "go to top" icon/button for scrolling to the top of the page"
The issue is mostly self explanatory.

- Use this [icon/svg](https://api.iconify.design/ic:round-arrow-upward.svg) (green icon) from [this site](https://icones.js.org/collection/ic?s=up).
![image](https://user-images.githubusercontent.com/54069197/193407506-f967ee9d-e335-4345-958c-0459af0c48d3.png)

- Follow the current procedure of dealing with svgs's by adding them ti the `svgs.js` file and impo

[2022-10-01 12:59] Reddomi commented on #114
Can I be assigned to this?

[2022-10-01 13:16] Ngoakor12 commented on #114
Yesss, give me a minute to mock out a design to make your life easier

[2022-10-01 13:25] Ngoakor12 commented on #114
There you go @Reddomi , updated instructions on the first comment. Let me know if you have any questions

[2022-10-01 14:05] Reddomi commented on #114
Attempted to make a pull request - hopefully I did it right haha.

[2022-10-01 14:17] Ngoakor12 commented on #114
I'm sure you did fine, I'll have a look shortly

[2022-10-01 15:15] #114 closed, assigned to Reddomi

[2022-10-01 15:25] Ngoakor12 opened #116 "Add up to date screenshots of the desktop/larger site"
**Tasks:**
- [x] add some replacements to the pictures on `readme.md`
- [x] add as many screenshots as you can in `./docs/screenshots.md`

[2022-10-01 15:50] Ngoakor12 opened #117 "Style the scrollbar according to the theme of the site"
The white/grey-ish scrollbar looks really out of place currently, make it fit in.

[2022-10-01 15:56] Ngoakor12 opened #118 "Feat: Lightmode"
- [ ] Finalise colours and create lightmode counterparts
- [ ] #119
- [ ] Design mock up of the light mode
- [ ] Implement lightmode

[2022-10-01 16:00] Ngoakor12 opened #119 "Clean up the CSS"
Need to do some research on css styling in a react app first

Task:
- [ ] choose a css styling approach to go with
- [ ] make use of css variables
- [ ] use the right units(font-size and media queries)

[2022-10-02 04:56] Ngoakor12 opened #120 "Docs: Update `contributing.md` to add a section on the process to follow when you want to open PRs/Issues"
Currently the file only contains info on how to run the project locally. Some ideas on sections to include and what info I think should be mentioned:
- **Running the project locally**
  - Cloning the repo
  - Running the backend
  - Running the frontend
- **Opening an issue**
  - Search through the open issues and add one if you don't find it anything related.
  - Search through the closed/merged

[2022-10-02 05:04] Ngoakor12 opened #121 "Docs: Add a frontend style guide"
Go over the frontend code checking for patterns in the project or borrow some from other projects' style guides(e.g. airbnb style guide)
- create a `STYLEGUIDE.md` file in the `./frontend` folder
- take the info you've gathered from the research and add it to that file. It doesn't have to be a whole blog post, contribute with whatever you can and we can discuss it

[2022-10-02 05:05] trishitchar commented on #121
Hey, I would like to work on this. Thanks!

[2022-10-02 05:10] Ngoakor12 commented on #121
Sure @trishitchar , I'll assign you now now. Let me know if any questions come up

[2022-10-02 05:15] trishitchar commented on #121
@Ngoakor12
I've done it. Can you please review and merge.

[2022-10-02 05:19] Ngoakor12 commented on #121
That was fast, unfortunately I'm not on my machine at the moment so I'll have a look later

[2022-10-02 05:26] Shivashish-rwt commented on #116
I can do that. Plz assign this task to me.

[2022-10-02 05:27] satyamgupta1495 commented on #120
Heyy Ngoakor12, Do you want me to add all the points to contributing.md file? I can do that if you assign this to me.

[2022-10-02 05:27] mohith2883 commented on #120
Hey, I would like to work on this can you assign me . Thanks! @Ngoakor12

[2022-10-02 05:27] mohith2883 commented on #120
@Ngoakor12

[2022-10-02 06:13] Ngoakor12 commented on #120
@satyamgupta1495 you can work on it. @mohith2883 hardluck but someone already beat you to it

[2022-10-02 06:25] mohith2883 commented on #120
fine :)

[2022-10-02 06:28] akssshh commented on #117
hey, @Ngoakor12 can you assign this to me?

[2022-10-02 06:37] Shivashish-rwt commented on #116
@Ngoakor12
I wanna clear one thing. Do i have to add the screenshots in `./docs/screenshots.md`.

[2022-10-02 06:52] Ngoakor12 commented on #116
You have to add screenshots in two places:
- replace the current ones in `./readme.md`.
- add as many as you can in `./docs/screenshots.md`

[2022-10-02 06:55] Ngoakor12 commented on #117
@gogoiakash2311 there you go, let me know if you need me to clarify anything

[2022-10-02 07:01] akssshh commented on #117
Ok, thanks for assigning me to this issue.

[2022-10-02 07:04] pranavgoel29 commented on #117
Oops, I forgot to ask for an assignment for this issue, I already did a PR solving this. @Ngoakor12

[2022-10-02 07:26] akssshh commented on #117
No worries @Ngoakor12. Let @pranavgoel29 PR get merged.  I am unassigning myself from this issue.

[2022-10-02 07:41] Shivashish-rwt commented on #116
@Ngoakor12
I can't locate to `./docs/screenshots.md`. Can u provide me with the full path please?

[2022-10-02 07:53] Ngoakor12 commented on #116
It's not there yet, so you have to create it

[2022-10-02 08:00] pranavgoel29 commented on #117
Thank you, and once again sorry.

[2022-10-02 08:01] pranavgoel29 commented on #117
@Ngoakor12
I have made a PR please check #124

[2022-10-02 08:07] akssshh commented on #117
It's okay @pranavgoel29

[2022-10-02 08:48] #117 closed, assigned to pranavgoel29

[2022-10-04 20:23] hrozienko commented on #3
Hello, can work on this issue?

[2022-10-05 05:53] #116 closed, assigned to Shivashish-rwt

[2022-10-06 18:06] Reddomi commented on #27
I'd be interested on working on this! Would be done later than my first contribution, but I am sure to finish this by the end of the month.

[2022-10-06 18:21] Ngoakor12 commented on #3
This is a big one, notice that I didn't mark it as a good first issue. I wanted to work on it myself. If I'm to let you work on it, just know that the review process might be a bit strict.

Still interested?

[2022-10-06 18:28] Ngoakor12 commented on #27
No problemo, just a quick question before I assign you... what testing library are you planning on using? I have used [jasmine](https://jasmine.github.io/) before so that's my go to but I would be open to accepting and possibly learning something new(jest, vitest?)

[2022-10-06 18:46] Reddomi commented on #27
I was intending to use Jest! I don't exactly have much experience testing in JS, so this was the option that seemed the most logical, if you don't mind, that is. (To add, I currently have a university subject that will dig deeper into testing/profiling.)

[2022-10-06 19:04] Ngoakor12 commented on #27
Jest should be fine, noted that some of the files/function names may have changed since the last time I wrote this issue so just know that everything function in the backend folder is fair game. Don't hesitate to shout if need anything :call_me_hand:

[2022-10-08 03:31] Ngoakor12 commented on #120
@mohith2883 the person working on this is no longer working on it, do you want to have a crack at it?

[2022-10-08 09:59] jahtomini commented on #121
Hey, can I work on this?

[2022-10-08 10:42] Ngoakor12 commented on #121
Sure @jahtomini , knock yourself out. Take a peek at [this PR](https://github.com/Ngoakor12/coding-resource-finder/pull/122) the previous person was working on and the feedback I left to help your PR go smoother

[2022-10-08 16:51] jahtomini commented on #121
You seem to be using Prettier (or ESLint) locally, have you considered adding a config to the project to ensure consistency?

[2022-10-08 18:06] Ngoakor12 commented on #121
@jahtomini I wouldn't know where to begin at this point to be honest but you're more than welcome to open an issue and hopefully work on the PR. It's fine if can't I will probably learn about it and maybe implement it.

[2022-10-08 18:13] ivoirh commented on #3
You're right, I was looking for something not too easy, but when I think about it more, it seems complicated, so you can work on it and I won't be interested in it anymore :)

[2022-10-08 18:34] Ngoakor12 commented on #3
No problem, I'll keep on adding issues so you might find something appropriate if you come back another time :)

[2022-10-08 22:37] jahtomini commented on #121
Alright then will do. It's not much work tbh, there are some pretty good defaults out there. I'll open an issue, and once the PR is merged, I can add the necessary info to the style guide to help contributors.

[2022-10-09 08:52] Ngoakor12 opened #126 "Feat: Create an "Error 404 - not found" page"
**Is your feature request related to a problem? Please describe.**
Yes, accessing an unavailable page on the website sort of just breaks/show a blank main section.

**Describe the solution you'd like**
Create a 404 placeholder page for when a certain page doesn't exist. It should link to the home page.

**Describe alternatives you've considered**
One alternative I've considered is having a redirec

[2022-10-09 09:00] Ngoakor12 opened #127 "Docs: Update feature request template"
The current feature request template has a few sections shown by bolded text and a small description of what that section expects.

**Problem:**
The description of what a section expects stays there and doesn't go away if you choose not to edit or delete it.

**Proposed fix/solution:**
Change the descriptions to be markdown comments instead, that way every section is still explained but disappears

[2022-10-09 09:02] Ngoakor12 opened #128 "Docs: Update bug report template"
The current bug report template has a few sections shown by bolded text and a small description of what that section expects.

**Problem:**
The description of what a section expects stays there and doesn't go away if you choose not to edit or delete it.

**Proposed fix/solution:**
Change the descriptions to be markdown comments instead, that way every section is still explained but disappears afte

[2022-10-09 09:08] ShahzaibJutt commented on #128
Assign it to me.

[2022-10-09 09:18] Ngoakor12 opened #129 "Feat: Create an "error page" for when something goes wrong while fetching resources"
**Is your feature request related to a problem? Please describe.**
Yes, loading even though something went wrong on the server can be frustrating.

**Describe the solution you'd like**
Create a page to redirect to when there's an error while fetching resources from the server. This page will work like the chrome error connecting page.

**Describe alternatives you've considered**

**Additional cont

[2022-10-09 09:20] Ngoakor12 commented on #128
All yours @ShahzaibJutt

[2022-10-09 09:32] Ngoakor12 opened #130 "Feat: Add storybook for component building"
**Is your feature request related to a problem? Please describe.**
Yes, I need to have designs ready before I can let people work on features

**Describe the solution you'd like**
Use [Storybook](https://storybook.js.org/) to help with visualizing components without worrying about data and functionality. That way others can sort of work on the designs aswell and implement them as components

**Des

[2022-10-09 10:18] jahtomini opened #131 "Style: Add prettier & eslint configs"
**Is your feature request related to a problem? Please describe.**
Not necessarily, this is aimed at providing consistency and enforcing patterns in the codebase regarding code style.

**Describe the solution you'd like**
Add a .prettierrc file, possibly a .prettierignore file and and an .eslintrc file

**Describe alternatives you've considered**
NIL

**Additional context**
NIL

I'll like to work

[2022-10-09 10:57] Ngoakor12 commented on #131
Don't know if I should ask, but do you want me to add this as part of hackertoberfest?

[2022-10-09 11:08] Ngoakor12 commented on #131
Also, I recently merged [a PR](https://github.com/Ngoakor12/coding-resource-finder/pull/132) of some refactoring which may or may not affect this issue if you've already started or the other [styleguide issue](#121 ) you're assigned to

[2022-10-09 11:38] anuragh2002 commented on #127
Hey @Ngoakor12 I would like to work on this issue. Can you please assign it to me?

[2022-10-09 11:45] Ngoakor12 commented on #127
All yours @anuragh2002

[2022-10-09 12:24] #128 closed, assigned to ShahzaibJutt

[2022-10-09 12:32] jahtomini commented on #131
Yeah that'll be great 😃

Copy that. I'll take that into consideration

[2022-10-09 13:10] #127 closed, assigned to anuragh2002

[2022-10-10 23:37] ekiira commented on #130
Hello,
I would like to work on this, can you please assign it to me.

[2022-10-11 02:35] Ngoakor12 commented on #130
All yours @ekiira. May I ask what component you plan on adding to storybook to ensure everything is working as expected?

[2022-10-11 07:21] ekiira commented on #130
Thanks.
I will be adding the SearchForm Component

[2022-10-11 19:22] ekiira commented on #130
Hello @Ngoakor12, upon installing and running the app, It displays errors in the console and a blank page.
Below are screenshots. Please advise on what to do.
<img width="1271" alt="Screenshot 2022-10-11 at 20 20 18" src="https://user-images.githubusercontent.com/57687166/195180560-b4cd909a-2baf-461b-aac7-5065d6751c64.png">
<img width="1265" alt="Screenshot 2022-10-11 at 20 20 41" src="https://use

[2022-10-11 19:44] Ngoakor12 commented on #130
@ekiira I had a look. I believe it's because the backend is not running, the frontend needs it running for it to function as expected.

[2022-10-11 19:50] ekiira commented on #130
@Ngoakor12 Yes that was the problem, thank you.

[2022-10-11 19:54] Ngoakor12 commented on #130
Haha nice, I just added that small bit of error handling. Glad to see it's working great :smile:

[2022-10-14 04:32] #130 closed, assigned to ekiira

[2022-10-16 09:06] Ngoakor12 opened #139 "Feat: Add resources sort order"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add a select element just below the search bar to choose what order the resources appear in (ascending or descending)

**Describe alternatives you've considered**
N/A

**Additional context**

[2022-10-16 09:29] Ngoakor12 opened #140 "Feat: Add a resources filter"
**Is your feature request related to a problem? Please describe.**
Yes, looking for just topics and or just projects can be a pain sometimes.

**Describe the solution you'd like**
Add resources filters chips just below the search form where I can filter by resource type (projects, topics and all)

**Describe alternatives you've considered**
Adding pages for each reasource type but it was too messy

[2022-10-16 09:40] Ngoakor12 opened #141 "Create a react storybook component for " fetching resources error page" from a design"
The design can be found on [this figma file](https://www.figma.com/file/kZxZ3wqIDmMJ63LnagRUcf/coding-resource-finder?node-id=249%3A52).

This issue is a subtask of [this bigger parent issue](https://github.com/Ngoakor12/coding-resource-finder/issues/129), you can go there to get a zoomed out/ bigger picture of this task

[2022-10-16 09:40] Ngoakor12 opened #142 "Implement "fetching resources error page" from a react component"
**Important note**: [This issue](https://github.com/Ngoakor12/coding-resource-finder/issues/141) should be merged before this can be worked on

**Basically how I would solve this**: Conditionally render the error page component when the resources cannot be fetched from the backend server for whatever reason.
<details>
<summary> Detailed suggestion </summary>
In `contextApp.js`:

- create a hasErro

[2022-10-16 10:00] sandilya27 commented on #142
I want to work on this

[2022-10-16 10:04] Ngoakor12 commented on #142
@sandilya27 I'm afraid it's not possible at the moment since the second part of the task(which is the storybook story) is not completed yet. That's why this issue has a "not ready" tag

[2022-10-16 10:10] Ngoakor12 opened #143 "Create a react storybook component for a "404 not found page" from a design"
The design can be found on [this figma file](https://www.figma.com/file/kZxZ3wqIDmMJ63LnagRUcf/coding-resource-finder?node-id=251%3A104).

This issue is a subtask of [this bigger parent issue](https://github.com/Ngoakor12/coding-resource-finder/issues/126), you can go there to get a zoomed out/ bigger picture of this task

[2022-10-16 10:11] Ngoakor12 opened #144 "Implement "404 not found page" from a react component"
**Important note**: [This issue](https://github.com/Ngoakor12/coding-resource-finder/issues/143) should be merged first before this can be worked on

**Suggestion(How I would solve this)**: Create a catch all react router route and render the above page component for unknown pages instead

**Another note**: This issue is a subtask of [this bigger parent issue](https://github.com/Ngoakor12/coding-r

[2022-10-16 10:26] YajanaRao commented on #143
@Ngoakor12 I would like to give this a try today.

[2022-10-16 10:26] VSB14 commented on #143
Hii @Ngoakor12 , Can you assign this issue to me? Also, do you need this to be implemented using HTML and CSS? please specify.

[2022-10-16 10:33] Ngoakor12 commented on #143
@YajanaRao sure thing, it's all yours.

@VSB14 React and some CSS but unfortunately @YajanaRao was first so I assigned him instead.

[2022-10-16 10:38] YajanaRao commented on #143
@Ngoakor12 Will this be inside pages or component ?

[2022-10-16 10:41] Ngoakor12 commented on #143
pages sounds like the best place

[2022-10-16 10:49] VSB14 commented on #143
No problem, ping me if you have any other issue available to work on.

[2022-10-16 12:21] YajanaRao commented on #143
@Ngoakor12 As this is a page, I don't think I need to add an event for the click on go to home button right ?

Link to my fork: https://github.com/Ngoakor12/coding-resource-finder/compare/master...YajanaRao:coding-resource-finder:master
![image](https://user-images.githubusercontent.com/38914337/196034916-d4b2ebee-3858-4e74-9fb8-82f940ee76be.png)

[2022-10-16 12:28] Ngoakor12 commented on #143
**You don't need to as this is about more about visually recreating the design as a component**, but it would be nice if the "button"(which should be a React Router link) would do lead to the homepage since it's not a huge thing, implementation wise.

Oh another thing I forgot to mention is that hovering over the button should change the text to the green green colour of the above icon. And of cou

[2022-10-16 12:32] Ngoakor12 commented on #143
@VSB14 there's an identical issue that can be [found here](https://github.com/Ngoakor12/coding-resource-finder/issues/141) if you're farmilliar with using storybook and react

[2022-10-16 13:28] chetanchandel31 commented on #141
can i take this up?

[2022-10-16 14:54] Ngoakor12 commented on #141
@chetanchandel31 sure.

[2022-10-16 15:01] YajanaRao commented on #143
@Ngoakor12 I am not able to use <Link> inside the storybook component as the context is not provided.

[2022-10-16 15:08] Ngoakor12 commented on #143
It's fine, as long as the main component is done without any errors.

[2022-10-16 15:23] YajanaRao commented on #143
Please check this PR: https://github.com/Ngoakor12/coding-resource-finder/pull/147

[2022-10-16 17:40] #141 closed, assigned to chetanchandel31

[2022-10-16 18:46] #143 closed, assigned to YajanaRao

[2022-10-16 18:59] #131 closed, assigned to jahtomini

[2022-10-16 19:03] Ngoakor12 commented on #142
@sandilya27 It's yours if you're still interested. It's just been unblocked.

[2022-10-16 20:35] sandilya27 commented on #142
ok I will do it

[2022-10-17 03:26] harsh0620 commented on #144
Hi @Ngoakor12, Can you please assign me this task.

[2022-10-17 04:19] Ngoakor12 commented on #144
Sure thing @harsh0620, it's all yours

[2022-10-17 12:05] Yash-Yadav-git commented on #142
Hey, @Ngoakor12 I would like this issue to be assigned to me

[2022-10-17 12:27] #144 closed, assigned to harsh0620

[2022-10-17 12:28] #126 closed, assigned to nobody

[2022-10-17 12:29] Ngoakor12 commented on #142
All yours @Yash-Yadav-git

[2022-10-17 20:02] Yash-Yadav-git commented on #142
Can we just error boundary the entire App? So that we have a fallback UI every time we face some kind of network error from server side. If yes, which page should this be? right now I have rendered the ErrorFetchingResources page as the fallback UI.
Is this the expected behavior? or would you want me change it?

[2022-10-18 03:23] Ngoakor12 commented on #142
Error boundaries... and I'm no expert (I've just read about them😅) seem to encompass different kinds of errors. So I think an error boundary with a generic ui should probably be implemented in the near future.

But for this task I want the error to be specific to the resource fetching part of the app and use the `errorFetchingResources` page component that was created in the previous task.

I migh

[2022-10-19 15:49] Ngoakor12 commented on #142
@Yash-Yadav-git are you still working on this issue?

[2022-10-19 15:59] Yash-Yadav-git commented on #142
@Ngoakor12 Yes, I am.

[2022-10-20 18:38] #142 closed, assigned to Yash-Yadav-git

[2022-10-22 03:00] #121 closed, assigned to jahtomini

[2022-10-22 05:29] #129 closed, assigned to nobody

[2022-10-23 09:36] shaheer-2000 commented on #140
@Ngoakor12 Sorry for not requesting this issue earlier, but I've submitted a PR #153 that resolves this.

Awaiting your review.

[2022-10-23 10:42] Ngoakor12 commented on #140
Thanks for taking your time to contribute, it's very appreciated. I'll assign you, but:
- Ideally you should be asking first so that I can assign you so that we don't have more people working on one issue while not aware that someone is working on it.
- The issue was marked not ready because I wanted to figure out how it would look like and where it should live, but it seems you've figured that ou

[2022-10-23 15:01] shaheer-2000 commented on #120
@Ngoakor12 since this has gone stale (I presume), can I take this up?

[2022-10-23 15:03] shaheer-2000 commented on #78
@Ngoakor12 I'd also like to take this up as well. Preferably with the appropriate `hacktoberfest` labels, so it can count towards it.

[2022-10-23 15:14] shaheer-2000 opened #154 "Dockerize (docker-compose) the application"
**Is your feature request related to a problem? Please describe.**

- The current deployment process isn't that intuitive, shifting between directories, ensuring both ends are running, issues between different platforms.
- To simplify the deployment process, the application (both frontend and backend) can be `dockerized`.
- [Here's](https://stackoverflow.com/a/62250978) a more detailed list of adv

[2022-10-23 15:37] Ngoakor12 commented on #154
Ooh I like this. Only dealt with docker a few times but if you can make it happen I'm all for it. It can be used for dev environment until I figure out how to freely host a docker container :sweat_smile:

JUst make sure to modify the documentation and mention that people with docker installed can you use this method and others can just do it the old way.

[2022-10-23 15:41] Ngoakor12 commented on #78
All yours @shaheer-2000

[2022-10-23 15:42] Ngoakor12 commented on #120
@shaheer-2000 sure

[2022-10-23 15:44] Ngoakor12 commented on #120
@shaheer-2000 sure

[2022-10-23 15:55] #140 closed, assigned to shaheer-2000

[2022-10-23 18:49] mohdmulla commented on #154
heya, is this task still available? Can I work on it?

[2022-10-23 18:55] Ngoakor12 commented on #154
@mohdmulla That is entirely up to @shaheer-2000. I want to give them the chance to work on it first since they opened the issue. If not I'll assign you.

[2022-10-23 20:03] shaheer-2000 commented on #154
I'll be working on this @Ngoakor12. It's in the queue 😄

[2022-10-24 07:10] shaheer-2000 commented on #154
@Ngoakor12 I've dockerized the application, do you want me to update the `README.md` in the project root as well? There's a bit of redundancy (cloning the project, running the project) with `CONTRIBUTING.md` there, so I could replace bits of `README.md` with `CONTRIBUTING.md` and add the relevant `docker` information there as well

[2022-10-24 07:43] Ngoakor12 commented on #154
Makes sense, sure. I've been meaning to get to that but...🙈

[2022-10-24 07:44] Ngoakor12 commented on #154
I've seen the other PR's you've opened. Will get to them today

[2022-10-24 18:15] #120 closed, assigned to shaheer-2000

[2022-10-25 03:53] #78 closed, assigned to shaheer-2000

[2022-10-25 05:04] #154 closed, assigned to shaheer-2000

[2022-11-26 07:22] Ngoakor12 opened #160 "Use local database for local dev"
**Why?** The server for this project always reads from the production database no matter if you're devving locally or it's in prod.
Ideally local devving should use the prod databse since the reads and writes cost money.

**Proposed solution:** For folks who have docker and run the app locally using docker. The local database should be initialised with some resources and used instead of using the